<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">> 

                    <ul class="navbar-nav">
                        <li><a routerLink="/project-tasks" class="nav-link"><i class="glyphicon glyphicon-th"></i>&nbsp;Project Dashboard</a></li>
                        <li><a routerLink="/project-tasks-list" class="nav-link"><i class="glyphicon glyphicon-tasks"></i>&nbsp;Tasks List</a></li>
                        <li><a routerLink="/issue-list" class="nav-link"><i class="glyphicon glyphicon-tasks"></i>&nbsp;Team Memebers</a></li>
                        <li><a routerLink="/issue-form" class="nav-link"><i class="glyphicon glyphicon-level-up"></i>&nbsp;Add Team Memeber</a></li>
                        <li><a routerLink="/send-update" class="nav-link"><i class="glyphicon glyphicon-send"></i>&nbsp;Send Update</a></li> 
                    </ul>
            
                    <ul class="navbar-nav navbar-collapse justify-content-end">
                        <li><a routerLink="/login" class="nav-link">Login</a></li>
                        <li><a routerLink="/logout" class="nav-link">Logout</a></li>
                    </ul>

    </nav> 
</header>
<br>
