<br>
<h2>Project Tasks List

</h2>
<br>

<button type="button"
(click)="createProjectSubTask(selectedProjectTask.id)"
[disabled]="selectedProjectTask == null"
class="btn btn-success"
style="margin-left:10px;">
<i class="glyphicon glyphicon-plus-sign"></i>&nbsp; Add Task
</button> 
<br><br>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
<table class="table">
<thead>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Status</th>
        <th>Priority</th>
        <!-- <th>Dead Line Date</th> -->
        <th>Description</th>        
        <th>Assigned To</th>
        <th></th>
        <th></th>
    </tr>
</thead>
<tbody>
    <!--Go through list of ProjectTasks list ..-->
    <tr *ngFor="let projectTask of projectTasks">
        <td><i class="glyphicon glyphicon-file text-primary"></i></td>
        <td>{{projectTask.title}}</td>
        <td>{{projectTask.status}}</td>
        <td>{{projectTask.priority}}</td>
        <!-- <td>{{projectTask.deadLineDate}}</td> -->
        <td>{{projectTask.description}}</td>
        <td>{{projectTask.teamMember.firstName}} {{projectTask.teamMember.lastName}}</td>
        <td><button (click)="deleteProjectTask(projectTask.id)" class="btn btn-success">Edit</button></td>
        <td><button (click)="deleteProjectTask(projectTask.id)" class="btn btn-warning">Delete</button></td>
    </tr>
</tbody>
</table>
</div>
