<div class="container">
    <!-- Sub Tasks menu -->
    <div class="row" style="margin-top:12px;">
      <div class="col-md-8">
        <input type="text"
               [(ngModel)]="searchTaskDescription"
               class="form-control"
               style="width: 100%;"
               placeholder="Search Sub-tasks descriptions...">
      </div>
      <div class="col-md-4">
   <!--     <button type="buton"
                (click)="createProjectTask()"
                class="btn btn-primary pull-right"
                style="margin-left:12px;">
                <i class="glyphicon glyphicon-plus-sign"></i>&nbsp; Add Project Task
        </button>
        <button type="button"
                (click)="createProjectSubTask(selectedProjectTask.id)"
                [disabled]="selectedProjectTask == null"
                class="btn btn-primary pull-right"
                style="margin-left:12px;">
                <i class="glyphicon glyphicon-plus-sign"></i>&nbsp; Add Sub-task
        </button> -->
      </div>
  
    </div>
  
    <!-- Project SubTask content -->
    <div class="row" style="margin-top: 28px;">
      <!-- Project Tasks Menu -->
      <div class="col-md-3">
        <br>
        <div class="list-group list-group-flush">
          <a (click)="selectAllProjectSubTasks()" class="list-group-item list-group-item-action"> Project Tasks
          </a>
          <!-- Project Task List -->
          <a *ngFor="let projectTask of projectTasks" (click)="selectProjectTask(projectTask)" class="list-group-item list-group-item-action">
              <i class="glyphicon glyphicon-file text-primary"></i>&nbsp;
            <input [(ngModel)]="projectTask.title" (change)="updateProjectTask(projectTask)" type="text" class="input-label" style="width: 80%"/>
            <a (click)="deleteProjectTask(projectTask)" class="pull-right text-danger">
              <i class="glyphicon glyphicon-remove-circle"></i>
            </a>
          </a>
        </div>
      </div>
  
      <!-- SubTasks Panel -->
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <!-- Message if there are no Subtasks -->
            <h3 *ngIf="selectedProjectTask != null">{{selectedProjectTask.name}}</h3>
            <h3 *ngIf="selectedProjectTask == null">All Task</h3>
            <p *ngIf="this.projectSubTasks.length === 0">No Sub-tasks for this Project Tasks.</p>
          </div>
        </div>
        <div class="row">  
          <!-- projectSubTask list -->

          <app-project-sub-tasks *ngFor="let s of projectSubTasks | projectSubTaskFilter:searchTaskDescription"
                    [projectSubTask]="s"
                    (projectSubTaskUpdated)="updateProjectSubTask($event)"
                    (projectSubTaskDeleted)="deleteProjectSubTask($event)">
          </app-project-sub-tasks>
         
        </div> 
      </div>

      <div class="row"> 

      </div>

    </div>
  </div>
  