<br>

<h2><i class="glyphicon glyphicon-user text-primary size-big"></i> &nbsp; Add Project Team Member</h2>

<div class="container">

<form (ngSubmit)="butHandleSubmitIssue()" #issueForm="ngForm">
<div class="alert alert-warning" *ngIf='!formValidationCheck'>{{errorMessage}}</div>
    <br>
<table>
    <tr>
    <td valign="top">
        First Name:<br><input type="text" class="form-controll" name="firstName" #description="ngModel" [(ngModel)]="issue.firstName" required="required">
    </td>
    <td></td>
    <td valign="top">
        Last Name:<br><input type="text" class="form-controll" name="lastName" [(ngModel)]="issue.lastName" required="required">
    </td>
    </tr>

    <tr>
    <td valign="top">
       Email Address:<br><input type="text" class="form-controll" name="emailAddress" [(ngModel)]="issue.emailAddress">
    </td>
    <td></td>
    <td valign="top">
        Postal Address:<br><input type="text" class="form-controll" name="postalAddress" [(ngModel)]="issue.postalAddress" >            
    </td>
    </tr>

    <tr>
    <td valign="top">
        Phone:<br><input type="text" class="form-controll" name="phone" [(ngModel)]="issue.phone">
    </td>
    <td></td>
    <td valign="top">
        Comment:<br><input type="text" class="form-controll" name="Comment" [(ngModel)]="issue.contactPurpose">           
    </td>
    </tr>
</table>

<br>
<button type="submit" class="btn btn-success" >Add Team Member</button>
</form>


<br>
</div>
